.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Color Transition Animations */

@keyframes bgColorTransition {
  0% { background-color: rgb(255, 120, 0); }
  25% { background-color: rgb(0, 120, 0); }
  50% { background-color: rgb(0, 120, 255); }
  75% { background-color: rgb(255, 120, 255); }
  100% { background-color: rgb(255, 120, 0); }
}

@keyframes bgColorTransitionRev {
  0% { background-color: rgb(0, 135, 255); }
  25% { background-color: rgb(255, 135, 255); }
  50% { background-color: rgb(255, 135, 0); }
  75% { background-color: rgb(0, 135, 0); }
  100% { background-color: rgb(0, 135, 255); }
}

@keyframes fontColorTransition {
  0% { color: rgb(255, 120, 0); }
  25% { color: rgb(0, 120, 0); }
  50% { color: rgb(0, 120, 255); }
  75% { color: rgb(255, 120, 255); }
  100% { color: rgb(255, 120, 0); }
}

body {
  animation: bgColorTransition 10s infinite;
}

#root {
  background-color: rgba(255, 165, 87, 0.808);
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  height: 60%;
  max-width: 600px;
  max-height: 600px;
  margin: -250px 0 0 -250px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

/* individual components (?) section begin */

 /* album art size limiter */
.albumArt {
  width: 150px;
  height: 150px;
}

/* Song queue */
#songQueue {
  overflow-y: scroll;
  max-height: 150px;
}

#songQueue a{
  text-decoration: none;
  color: black;
  font-size: 15pt;
}

#songQueue a:hover {
  display: block;
  color: red;
}


/* indivual compenent (?) section end */

#footer-copyright {
  animation: bgColorTransitionRev 10s infinite;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

#footer-copyright-text {
  animation: fontColorTransition 10s infinite;
  font-size: 11pt;
  padding-left: 5px;
}